.pandora-editor {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    .editor-file-folder {
        width:30%;
        transition: all .5s;
        background-color: #f3f3f7;
        max-width: 400px;
        overflow: auto;
    }
    .editor-container {
        overflow: hidden;
        width:100%;
        transition: all .5s;
        .editor-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            width: 100%;
            height: calc(100% - 50px);
            .md-view-wrapper {
                position: relative;
                flex: 1;
                margin: auto;
                width: 368px;
                padding-left: 28px;
                padding-right: 22px;
                height: 100%;
                overflow: auto;
                .md-view-layer {
                    height: 690px;
                    position: relative;
                    overflow: auto;
                    top: 34px;
                    overflow: auto;
                    .md-view-container {
                      overflow: auto;
                      padding: 0 4px;
                  }
                }
                .iphone-frame {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 375px;
                    height: 758px;
                    background: url('../../assets/img/iPhone-11.png') no-repeat;
                    background-size: contain;
                    background-position: center;
                    pointer-events: none;
                }
            }
            .code-mirror-wrapper {
                flex: 1;
                .code-mirror-container {
                    height: 100%;
                    & > div {
                        height: 100%;
                    }
                }
            }
            .Resizer {
                background: #000;
                opacity: 0.2;
                z-index: 1;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -moz-background-clip: padding;
                -webkit-background-clip: padding;
                background-clip: padding-box;
              }
              
              .Resizer:hover {
                -webkit-transition: all 2s ease;
                transition: all 2s ease;
              }
              
              .Resizer.horizontal {
                height: 11px;
                margin: -5px 0;
                border-top: 5px solid rgba(255, 255, 255, 0);
                border-bottom: 5px solid rgba(255, 255, 255, 0);
                cursor: row-resize;
                width: 100%;
              }
              
              .Resizer.horizontal:hover {
                border-top: 5px solid rgba(0, 0, 0, 0.5);
                border-bottom: 5px solid rgba(0, 0, 0, 0.5);
              }
              
              .Resizer.vertical {
                width: 11px;
                margin: 0 -5px;
                border-left: 5px solid rgba(255, 255, 255, 0);
                border-right: 5px solid rgba(255, 255, 255, 0);
                cursor: col-resize;
              }
              
              .Resizer.vertical:hover {
                border-left: 5px solid rgba(0, 0, 0, 0.5);
                border-right: 5px solid rgba(0, 0, 0, 0.5);
              }
              .Resizer.disabled {
                cursor: not-allowed;
              }
              .Resizer.disabled:hover {
                border-color: transparent;
              }
        }
    }
}

.pandora-message-success,
.pandora-message-loading,
.pandora-message-error
{
    .ant-message-notice-content {
        padding: 5px 16px;
        border-radius: 8px;
        .ant-message-success .anticon {
            color: #ffb531;
        }
    }
}
