.tool-bar-wrapper {
    padding: 0 10px;
    width: 100%;
    height: 30px;
    background-color: #262626;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    .tool-bar-content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tool-bar-title {

        }
        .tool-bar-icon-group {
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            .tool-bar-icon {
                display: flex;
                cursor: pointer;
                margin: 0 10px;
            }
        }
    }
}
